@model IEnumerable<Lcol.Models.RawData>

@{
    ViewData ["Title"] = "Monitoring";
    var topItemsCount = 10;
}

<h2>Last @topItemsCount requests</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Timestamp</th>
                <th>Data hash</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderByDescending(x => x.AddDateTime).Take(topItemsCount))
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.AddDateTime</td>
                    <td>@item.GetBlobMd5()</td>
                </tr>
            }
        </tbody>
    </table>
</div>
